---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: currency=usd&amount=999&card=tok_103kAN21IPceA9OdGHWOanIn&description=Sign%20up%20charge%20for%20johndoe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_gHcoYxIa1mPuBXGcGdiFGv0J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103kAN21IPceA9OdhGWGSTGu",
          "object": "charge",
          "created": 1395936490,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103kAN21IPceA9OdrGCSpv9a",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "V0X3qM8AG1jhlTrq",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103kAN21IPceA9OdNgmxUaZZ",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for johndoe@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Thu, 27 Mar 2014 16:08:11 GMT
recorded_with: VCR 2.8.0
