---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103r1J21IPceA9OdJzheTkTO&email=matt%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_gHcoYxIa1mPuBXGcGdiFGv0J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1397517254,
          "id": "cus_3r1J2w5vK0KWCK",
          "livemode": false,
          "description": null,
          "email": "matt@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3r1J2w5vK0KWCK/subscriptions",
            "data": [
              {
                "id": "sub_3r1JseWCxsesfO",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1397514350,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1397517254,
                "status": "active",
                "customer": "cus_3r1J2w5vK0KWCK",
                "cancel_at_period_end": false,
                "current_period_start": 1397517254,
                "current_period_end": 1400109254,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3r1J2w5vK0KWCK/cards",
            "data": [
              {
                "id": "card_103r1J21IPceA9OdI42ldR98",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "V0X3qM8AG1jhlTrq",
                "customer": "cus_3r1J2w5vK0KWCK",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_103r1J21IPceA9OdI42ldR98"
        }
  recorded_at: Mon, 14 Apr 2014 23:14:12 GMT
recorded_with: VCR 2.8.0
