---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: currency=usd&amount=999&card=tok_103mQV21IPceA9OdsVy10rjI&description=Sign%20up%20charge%20for%20matt%40example.com
    headers:
      Authorization:
      - Bearer sk_test_gHcoYxIa1mPuBXGcGdiFGv0J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103mQV21IPceA9Od9dDDw8CH"
          }
        }
  recorded_at: Wed, 02 Apr 2014 16:55:44 GMT
recorded_with: VCR 2.8.0
