---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103r1k21IPceA9OdElMB4ZYB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_gHcoYxIa1mPuBXGcGdiFGv0J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103r1k21IPceA9OdElMB4ZYB",
          "created": 1397518868,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103r1k21IPceA9OdukmOC2y1",
              "object": "charge",
              "created": 1397518868,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103r1k21IPceA9OdPErN01SJ",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 8,
                "exp_year": 2014,
                "fingerprint": "V0X3qM8AG1jhlTrq",
                "customer": "cus_3r1k8dfdBzY1Aa",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103r1k21IPceA9OdGODZLDzD",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3r1k8dfdBzY1Aa",
              "invoice": "in_103r1k21IPceA9Odt5MydzZS",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3r1kXFUakSzAEl"
        }
  recorded_at: Tue, 15 Apr 2014 02:06:49 GMT
recorded_with: VCR 2.8.0
