---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103rjI21IPceA9OdUvcaVBSZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_gHcoYxIa1mPuBXGcGdiFGv0J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103rjI21IPceA9OdUvcaVBSZ",
          "created": 1397680860,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103rjI21IPceA9Ods50ThfF4",
              "object": "charge",
              "created": 1397680860,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103rjH21IPceA9Odb0GGm6Hx",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 8,
                "exp_year": 2015,
                "fingerprint": "pmVegI3If1BZ90GD",
                "customer": "cus_3r4hO7FXWRFtA3",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3r4hO7FXWRFtA3",
              "invoice": null,
              "description": "failed payment",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3rjIjSJyMp6uZL"
        }
  recorded_at: Wed, 16 Apr 2014 20:50:41 GMT
recorded_with: VCR 2.8.0
