---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_gHcoYxIa1mPuBXGcGdiFGv0J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103r0x21IPceA9OdUwCz7Wkf",
          "livemode": false,
          "created": 1397515908,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103r0x21IPceA9OdetPJubM5",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "V0X3qM8AG1jhlTrq",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 14 Apr 2014 22:51:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103r0x21IPceA9OdUwCz7Wkf&email=payton.schulist%40heller.net&plan=base
    headers:
      Authorization:
      - Bearer sk_test_gHcoYxIa1mPuBXGcGdiFGv0J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1397515908,
          "id": "cus_3r0xYZwt7HNaKg",
          "livemode": false,
          "description": null,
          "email": "payton.schulist@heller.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3r0xYZwt7HNaKg/subscriptions",
            "data": [
              {
                "id": "sub_3r0xITXLPnjMil",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1397514350,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1397515908,
                "status": "active",
                "customer": "cus_3r0xYZwt7HNaKg",
                "cancel_at_period_end": false,
                "current_period_start": 1397515908,
                "current_period_end": 1400107908,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3r0xYZwt7HNaKg/cards",
            "data": [
              {
                "id": "card_103r0x21IPceA9OdetPJubM5",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2015,
                "fingerprint": "V0X3qM8AG1jhlTrq",
                "customer": "cus_3r0xYZwt7HNaKg",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_103r0x21IPceA9OdetPJubM5"
        }
  recorded_at: Mon, 14 Apr 2014 22:51:47 GMT
recorded_with: VCR 2.8.0
